    <footer class="mdl-mini-footer">
      <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">Todo App</div>
        <ul class="mdl-mini-footer__link-list">
          <li>
            <%= link_to "How It works", help_path %>
          </li>

        </ul>
      </div>
    </footer>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
