<main class="mdl-layout__content">
  <div class="mdl-layout__tab-panel is-active">
        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
          <ul class='help-ul'>
            <li>Signup if you are using this first time</li>
            <li>Login with your username and password</li>
            <li>Add your tasks. Make sure you add no more than 5 in all</li>
            <li>Once you are done with task , mark it as finished</li>
            <li>Please help us improving this app by giving your suggestions <%= image_tag("whatsapp.png", :alt => "rss feed",:class => 'whatsapp-png') %> 8105416760</li>
          </ul>
        </div>
  </div>
</main>
